<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Faraday Wallet</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>

<body>

<div id="tf-home">
    <div class="overlay">
        <div id="sticky-anchor"></div>
        <nav id="tf-menu" class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand logo" href="cards.html">FaradayWallet</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                      <li class="activeLink"><a href="cards.html">My Cards</a></li>
                      <li><a href="profile.html">My Profile</a></li>
                      <li><a href="login.html">Log out</a></li>
                  </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
</div>
<div class="container">
  <div class="contentSection">
    <div class="row cardContainer">
      <div class="row">
        <div class="col-md-12">
          <h2>AMEX</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label>Card Number</label><br/>
          <p id="cardNumber">1234-5678-9123</p>
        </div>
        <div class="col-md-4">
          <label>CVC</label><br/>
          <p id="cvc">999</p>
        </div>
        <div class="col-md-4">
          <label>Valid Until</label><br/>
          <p id="expireDate">11-11-2021</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label>Notes</label>
          <p id="cardNotes">This card is the best fam</p>
        </div>
      </div>
    </div>
    <div class="row cardContainer">
      <div class="row">
        <div class="col-md-12">
          <h2>Chase</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label>Card Number</label><br/>
          <p id="cardNumber">1234-5678-9123</p>
        </div>
        <div class="col-md-4">
          <label>CVC</label><br/>
          <p id="cvc">999</p>
        </div>
        <div class="col-md-4">
          <label>Valid Until</label><br/>
          <p id="expireDate">11-11-2021</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label>Notes</label>
          <p id="cardNotes">This card is the best fam</p>
        </div>
      </div>
    </div>
    <form class="form-signin" action='/add' name='register' method='POST'>
        <a href="/add" class="btn btn-lg btn-primary btn-block">Add a Card</a>
    </form>
  </div>
</div>



</body>
</html>
