<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Faraday Wallet</title>
    <link href="../static/bootstrap.min.css" rel="stylesheet"/>
    <link href="../static/signin.css" rel="stylesheet">
</head>

<body>

<div class="container">

    <form class="form-signin" action='/login' name='login' method='POST'>
        <h2 class="form-signin-heading">Log in</h2>

        <label for="inputUsername" class="sr-only">Username</label>
        <input type="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit" name="signin" value="UserRedirect">Sign In
        </button>

    </form>

    <form class="form-signin" action='/register' name='register' method='GET'>
        <h2 class="form-signin-heading">Don't have an account?</h2>
        <a href="/register" class="btn btn-lg btn-primary btn-block">Register</a>
    </form>
</div>
</body>
</html>