<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>

    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="../static/loginStyle.css" rel="stylesheet">

  </head>

<body>

<div class="body-wrap">
  <div class="login-wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <h1>FaradayWallet</h1>
        </div>
      </div>
      <div class="row">
        <div class="main-content">
          <div id="registerMessage" class="alert alert-success" style="display:none">
            Thank you for registering. Please log in below!
          </div>
          <div id="wrongCombo" class="alert alert-danger" style="display:none">
            The username/password provided was incorrect.
          </div>
          <div id="noUsername" class="alert alert-danger" style="display:none">
            Please enter a username.
          </div>
          <div id="noPassword" class="alert alert-danger" style="display:none">
            Please enter a password.
          </div>
          <div class="main-links">
            <ul>
              <li>Manage Cards</li>•
              <li>Fully secure</li>•
              <li>Access Anywhere</li>
            </ul>
          </div>
          <div class="login-forms">
            <form action="/" method='POST'>
              <div class="form-group">
                <input type="username" name="username" class="form-control" placeholder="Username" required autofocus>
              </div>
              <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="Password" required>
              </div>
              <button type="submit" class="btn btn-default submit-form">Sign In</button>
            </form>
          </div>
          <p><a href="#">Forget Password</a> | <a href="/register">Register</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- please don't include this jQuery in wordpress. This is intendent only in static -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="../static/js/bootstrap.min.js"></script>

</body>
</html>
